<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>
    <i style="color:yellow; animation-direction: normal" class="fa fa-lg fa-exclamation-triangle ld ld-fade"></i>
    &nbsp;
    Please be aware that this project is still under construction
    &nbsp;
    <i style="color:yellow; animation-direction: reverse" class="fa fa-lg fa-exclamation-triangle ld ld-fade"></i>
  </h2>
</div>
<div class="left-half">
  <youtube-player
    [videoId]="id"
    (ready)="savePlayer($event)"
    (change)="onStateChange($event)"
    [playerVars]="playerVars"
    height=100%
    width=100%>
  </youtube-player>
</div>
<div class="right-half">
  <div cdkDropList class="video-list" (cdkDropListDropped)="drop($event)">
    <div class="video-box" *ngFor="let video of videos" cdkDrag>{{video}}</div>
  </div>
</div>
<router-outlet></router-outlet>
