/* You can add global styles to this file, and also import other style files */
body {
    background-color: #111111;
    font-family: 'Share Tech Mono', monospace;
    color: #4b4b4b
  }

h1 {
    color: #6b6b6b;
    font-size: 30px;
    font-family: 'Major Mono Display', monospace
}

h2 {
    color: #4b4b4b;
    font-family: 'Share Tech Mono', monospace;
    font-size: 15px
}